extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Raven John Esguerra

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Hello there! My name's Raven and this is all my work :D I'm still a college student looking to expand
            | my knowledge and willing to gain more experiences. If you like my works, feel free to use it as a reference!


      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Node.js
          li C#
          li Javascript
          li HTML5
          li CSS4
          li JQuery
          li Pug 
          li Express 
          li AJAX
          li I love techs!
        h6 Contact Info

        //- Add your own contact info
        ul
          li 778-939-9552
          li ravenjohn3003@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/raven-john-esguerra-178278214/') LinkedIn
        a.button.expanded(href='https://github.com/Venjora') GitHub
        a.button.expanded(href='https://twitter.com/Venjora_67') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back